html {
    font-size: 62.5%;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: $m-size;
    margin: 0 auto;
    width: 95vw;
}

button {
    cursor: pointer;
  }
  
  button:disabled {
    cursor: default;
  }

  .flex-container {
      padding: 50px;
      display:flex;
      justify-content: space-between;
      span {
          font-size: 13px;
          padding-right: 20px;
      }
  }

  .button-container {
    display:flex;
    justify-content: flex-end;
  }
  
  .is-active {
      font-weight: bold;
  }